<div class="movie-details">
	<div class="movie-details__content">
		<div class="movie-details__sidebar">
			<div class="movie-details__cover"><img src="assets/images/covers/{{movie.img}}" /></div>
			<div class="movie-details__rate">&#9733; {{movie.rate}}</div>
			<div class="movie-details__duration">Duration: {{movie.length}}</div>
		</div>
		<div class="movie-details__sidebar">
			<div class="movie-details__title">
				<h2>{{movie.name}}</h2>
			</div>
			<div class="movie-details__description">{{movie.description}}</div>
			<div class="movie-details__genres">
				<a *ngFor="let genre of movie.genres" [routerLink]="['/']" [queryParams]="{genre: genre}">{{genre}}</a>
			</div>
		</div>
	</div>
</div>
