$background-color-dark: #1976D2;
$background-color-light: #9CD0FC;
$accent-color : #228B22;
$primary-text-color : #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;
$white: #fff;
$black: #000;
$color-success: #d4edda;
$color-warning: #fff3cd;


%regular-font {
    font-family: 'Open Sans', sans-serif;
}

%headline-font {
    font-family: 'Playfair', serif;
}
