<div class="movie-list">
	<div class="movie-list__title">
		<h1>Movies</h1>
	</div>
	<div class="movie-list__search">
		<app-search [autocomplete]="searchAutoComplete" (input)="filterByName($event)"></app-search>
	</div>
	<div class="movie-list__filter">
		<select [(ngModel)]="selectedGenre" (change)="filterByGenre()" name="genre">
			<option value="all">Select Genre</option>
			<option *ngFor="let genre of genres" value="{{genre | lowercase}}">{{genre | titlecase}}</option>
		</select>
	</div>
	<div *ngIf="isLoading" class="movie-list__loading">Loading....</div>
	<div *ngIf="!isLoading" class="movie-list__content">
		<div *ngFor="let movie of movies" class="movie-list__item">
			<app-movie [movie]="movie"></app-movie>
		</div>
	</div>
</div>
