<div class="movie">
	<img class="movie__cover" routerLink="/movie/{{movie.key}}/{{movie.id}}" src="assets/images/covers/{{movie.img}}" alt="Movie cover" />
	<h3 class="movie__genres">{{ movie.genres.join(', ') }}</h3>
	<h4 class="movie__title"><span>{{movie.name}}</span></h4>
	<hr class="movie__separator" />
	<p class="movie__rate">Rate: &#9733; {{movie.rate}}</p>
	<a class="movie__button" routerLink="/movie/{{movie.key}}/{{movie.id}}">View Details</a>
</div>
