<div class="search">
	<div class="search__line">
		<input (keyup)="onInput($event)" type="text" class="search__input" list="autocomplete" placeholder="Search..." />
		<button type="submit" class="search__button">Search</button>

		<datalist id="autocomplete">
			<option *ngFor="let item of autocomplete" value="{{item}}">
		</datalist>
	</div>
</div>
